{% extends "base.html" %}
{% block content %}
<article>
<div>
    <h1>{{ hiker.name }}'s To Hike List</h1>
{% if todos %}
    <ul>
        {% for todo in todos %}
            <ul>
            <li>{{ todo.munro.name }}</li>
            </ul>
        {% endfor %}
    </ul>
{% else %}
    <li>No To Do List found</li>
{% endif %}
</ul>

</div>

<div>
    <form action="/hikers/{{ hiker.id }}/todo" method="POST">

    <label for="select_munro">Select a munro:</label>
    <select id="selected_munro" name="munro_id">
        {% for munro in munros %}
            <option value="{{ munro.id }}">{{ munro.name }}</option>
        {% endfor %}
        </select>
    <button type="submit">Add Munro</button>
</form>
</div>
{% endblock %}
</article>


