{% extends "base.html" %}
{% block content %}
<article>
<div>
    <h1>{{ hiker.name }}'s To Hike List</h1>
{% if todos %}
    <ul>
        {% for todo in todos %}
            <ul>
            <li>{{ todo.munro.name }}</li>
            </ul>
            <div class="buttons">
                {% if todo.completed == True %}
                    <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% else %}
    <li>Time to add your first munro!</li>
{% endif %}
</ul>

</div>

<div>
    <form action="/hikers/{{ hiker.id }}/todo" method="POST">

    <label for="select_munro">Select a munro:</label>
    <select id="selected_munro" name="munro_id">
        {% for munro in munros %}
            <option value="{{ munro.id }}">{{ munro.name }}</option>
        {% endfor %}
        </select>
    <button type="submit">Add Munro</button>
</form>
</div>
{% endblock %}
</article>


