{% extends "base.html" %}
{% block content %}
<div>
    <h1>{{ hiker.name }}'s Todo List</h1>
{% if todos %}
    <ul>
        {% for todo in todos %}
            <li>{{ todo.munro.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <li>No To Do List found</li>
{% endif %}
</ul>

{{ hiker }} 
{{ todos }}
</div>
<div>
    <p>WOO! I'm a HIKERS INDIVIDUAL TO DO LIST!</p>
</div>

<div>
    <form action="/hikers/{{ hiker.id }}/todo" method="POST">

    <label for="select_munro">Select a munro:</label>
    <select id="selected_munro" name="munro_id">
        {% for munro in munros %}
            <option value="{{ munro.id }}">{{ munro.name }}</option>
        {% endfor %}
        </select>
    </div>

    <button type="submit">Add Munro</button>
</form>
{% endblock %}
