{% extends "base.html" %}
{% block content %}
<div>
    <p>WOO! I'm an HIKER index!</p>
</div>
<div>
    <p>
    <b><a href="/hikers/new">CREATE NEW HIKER - FORM</a></b>
    </p>
</div>
<div>SELECT YOUR HIKER</div>
<div>
    <b>VIEW LIST OF ALL HIKERS</b>
    {% for hiker in all_hikers %}
    <div>
        <p>
        {{ hiker.name }}
        </p>
        <p><a href="/hikers/{{ loop.index0 }}">Show Hiker</a></p>
        <form class="delete-form" action="/hikers/{{ hiker.id }}/delete" method="POST">
            <button type="submit">Delete Hiker</button></form>
    </div>
    {% endfor %}
</div>
{% endblock %}