nav > ul {
    list-style:none;
}

nav > ul > li > a {
    color: white;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
  }

body > header {
    background-color: lightseagreen;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul {
    padding: 0;
    display: flex;
    gap: 1rem;
}

body > main {
    width: 70%;
    margin: auto;
}

body > footer {
    background-color: lightseagreen;
    padding: 16px;
    color: white;
    text-align: center;
}

