#container {
    width: 100%;
    height: 100vh;
    background: yellow;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header { 
    display: flex;
    background: lightseagreen;
    justify-content: space-between;
    padding: 10px 20px;
    align-content: center;

  }

ul {
    display: flex;
    list-style: none;
    color: black;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }


  
/* main {
    display: flex;
    background: white;
    justify-content: space-between;

  } */

article {
    display: flex;
    background: grey;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}
  
footer {
    background: lightseagreen;
    justify-content: center;
    align-content: center;
    padding: 20px 20px;
    text-align: center;
  }

.photo {
    align-items: center;
}

.munro-display > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    margin: 20px;
}