<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>MUNRO TRACKER</title>
</head>
<div id="container">
  <body>
    <header>
      <div><h1>Munro Tracker</h1></div>
      <div>2</div>
      <div>
        <nav> 
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/munros">Munros</a></li>
            <li><a href="/hikers">Hikers</a></li>
          </ul>
        </nav>
      </div>
      </header>
      <aside>
        Aside.
      </aside>
      <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
      </main>
      <footer>
        <h2>FOOTER</h2>
        <div id="footer-container">
            <section>
                <p>© 2023 Sarah Smith</p>
            </section>
        </div>
      </footer>
  </body>
</div>
</html>