<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
    <title>MUNRO TRACKER</title>
</head>
<div id="container">
  <body>

    <header>
      <div><h1>Munro Tracker</h1></div>
      <div>
        <nav> 
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/munros">Munros</a></li>
            <li><a href="/hikers">Hikers</a></li>
          </ul>
        </nav>
      </div>
      </header>

      <main>

        <div>
            {% block content %}
            {% endblock %}
        </div>

      </main>

      <footer>
        <div><img src="static/css/images/mountain-solid.svg" width="40" height="40"></div>
        <div>
          <p>© 2023 Sarah Smith</p>
        </div>
      </footer>
  </body>
</div>
</html>