{% extends "base.html" %}
{% block content %}
    <article class="container-home">
        <div>
        <h2>Welcome to munro mate</h2>

        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>
        <div><p>. </p> </div>


    </article>
{% endblock %}