{% extends "base.html" %}
{% block content %}
    <article class="container-home">
        <div>
        <h2>Welcome to munro mate</h2>

            <!-- <p>Welcome to Munro Tracker, the ultimate web app for hikers who want to keep track of their progress as they conquer the 282 munros. Our app allows you to create your own personalized hiker to-do list, giving you a clear plan of which munros you still need to climb.</p>

                <p>With Munro Tracker, you can easily add the munros that you want to climb to your to-do list, and mark them off as you complete them. You can also view your progress, seeing how many munros you have left to climb and how many you have already conquered.</p>
                
                <p>Our web app includes a feature that provides detailed information about each munro, including its height, location, and difficulty level. This makes it easy for you to choose the right munros for your skill level, and plan your hikes accordingly.</p>

                <p>Join Munro Tracker today and start tracking your progress as you conquer the Scottish munros!</p> -->
        </div>


    </article>
{% endblock %}